{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/newsfeed/newsfeed.css' %}">
{% endblock links %}

<div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" align="center"><i class="fas fa-search"></i> Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/search" class="form-control">
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Search" aria-label="Search"
            aria-describedby="addon-wrapping" name="query" required>
        </div>
        <div class="btns px-3 py-2 post-btn" align="center">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" >Search</button>
        </div>
      </form>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>