{% extends 'home/layout.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block login %}active{% endblock login %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/home/login.css' %}">
<link rel="stylesheet" href="{% static 'css/home/home_nav.css' %}">
{% endblock links %}
{% block body %}

<div class="container">
  <div class="card my-2 p-2">
    <h1 align="center">Password reset</h1>
    <form action="/email-search-reset" method="post">
      {% csrf_token %}
      <div class="form-group p-2">
        <label for="email">
          <h5> Search account by email: </h5>
        </label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
      </div>
      <div class="form-group p-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock body %}