body {
  margin: 0;
  padding: 0;
}

.site-logo img {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 2px;
  left: 5px;
  pointer-events: none;
}

nav {
  background-color: #5555;
  color: #fff;
  width: 100%;
}

#user_nav {
  background-color: #5555;
  color: #fff;
}

#user_nav ul {
  background-color: #5555;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#user_nav > ul > li {
  list-style: none;
  font-size: 25px;
  /* margin: 0 10px; */
  padding: 3px 0;
}

#user_nav a,
#user_nav a:active,
#user_nav a:visited {
  color: #fff;
  padding: 1px 30px;
  border-radius: 10px;
}

#user_nav a:hover {
  background-color: rgba(0, 255, 255, 0.63);
}

@media (max-width: 350px) {
  #user_nav a {
    padding: 2px 0.19rem;
  }
  #user_nav > ul > li {
    font-size: 20px;
  }
  .site-logo img {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 550px) {
  #user_nav a {
    padding: 2px 3vw;
  }
}
