{% extends 'user_settings/layout.html' %}
{% block title %}Change Password{% endblock title %}
{% block menu %}active{% endblock menu %}
{% block body %}


<div class="container">
    <div class="card bg-light btn-light text-dark my-2 mx-2 py-2 px-3">

        <center>
            <h2>Change Password</h2>
        </center>

        <div class="bg-light card btn-light text-dark my-2 mx-2 py-2 px-2">
            <div class="bg-light text-dark my-2 mx-2 py-2 px-2">

                <form action="/settings/change-password" method="post">
                    {% csrf_token %}
                    <div class="form-group py-1">

                        <label for="passwordP">Present Password</label>
                        <input type="password" name="passwordP" class="form-control" placeholder="Present Password" value=""
                            required /> <br>

                        <label for="password1">New Password</label>
                        <input type="password" name="password1" class="form-control" placeholder="New Password" value=""
                            required /> <br>

                        <label for="password2">Re-Enter New Password</label>
                        <input type="password" name="password2" class="form-control" placeholder="Confirm Password"
                            value="" required /> <br>

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="logout" name="logout" checked>
                            <label class="form-check-label text-info" for="logout">Logout and login again ?</label>

                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock body %}